@import "src/app/shared/styles/variables/colors";

.course-card {
  padding: 32px;
  box-shadow: 0 0 4px rgb(0 0 0 / 25%);
  border-radius: 4px;
  border-left: 8px solid $color-dark-gray;
  display: flex;
  justify-content: space-between;
  margin: 32px 0;
  min-height: 170px;
  width: 80vw;
  background-color: $color-white;

  &__description {
    flex: 2;

    &-title {
      font-weight: bold;
      margin-bottom: 10px;
    }

    &-text {
      // Add description text styles if needed
    }
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;

    &-text {
      margin-top: 16px;

      .course-card__duration,
      .course-card__date {
        // Add duration/date styles if needed
      }
    }

    &-actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 24px;
      gap: 16px; // add gap for spacing
    }
  }

  &__buttons {
    display: flex;
    font-size: 25px;
    flex-direction: row;
    gap: 16px;
    margin-left: 22px;
  }

  &__faButton {
    font-size: 35px;
    background: transparent;
    border: none;
    color: #016486;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: $color-gray;
    }

    &--primary {
      color: $color-gray;
      font-weight: bold;
    }

    &--secondary {
      color: $color-gray;
      font-weight: normal;
    }
  }
}
