@import "src/app/shared/styles/styles.scss";

.form-container{
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  padding: 50px 55px;
  background-color: #fff;
  border: 1px solid rgba(190, 184, 184, 0.353);
  border-radius: 5px;
}
.login-form {
  width: 286px;
  margin-top: 16px;
  .form__text__registration {
    cursor: pointer;
  }
}
.form__text a{
  text-decoration: none;
  color: black;
}

.form-control {
  border: 1px solid lightgrey;
  outline: none; 
  transition: border-color 0.3s; 
}
.ng-invalid.ng-dirty:not(form) {
  border: 2px solid red !important;
}
