<app-header>
  <div *ngIf="isLoggedIn" style="width: 400; display: flex; justify-content: space-around; align-items: center;gap: 5px;">
    <p>{{ userName }}</p>
    <app-button text="LOGOUT" (click)="onLogout()">Logout</app-button>
  </div>
  <!-- Else display the login/register buttons -->
  <ng-container *ngIf="!isLoggedIn">
    <app-button
      text="Login"
      (click)="onLoginButtonClick()"
    ></app-button> </ng-container
></app-header>
<div class="app-root">
  <router-outlet></router-outlet>
  <!-- Search component -->
  <!-- <app-search></app-search> -->

  <!-- Info component -->
  <!-- <app-info title="Your List Is Empty" text="Please use `Add new Course button` to add your first course">
    <app-button text="Add New Course" ></app-button>
  </app-info> -->

  <!-- Course Info Component -->
  <!-- <app-course-info ></app-course-info> -->

  <!-- <app-cours-list></app-cours-list> -->
  <!-- <app-courses-list [courses]="courses"></app-courses-list> -->

  <!-- Login Form component -->
  <!-- <app-login-form></app-login-form> -->

  <!-- Login Form component -->
  <!--<app-registration-form></app-registration-form>-->

  <!-- Login Form component -->
  <!-- <app-course-form></app-course-form> -->

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
