<app-header>
  <div>{{ userName }}</div>
  <app-button [buttonText]="buttonText"></app-button>
</app-header>
<div class="app-root">
  <app-info title="Your List Is Empty" text="Please use ’Add New Course’ button to add your first course">
    <app-button buttonText="Add New Course"></app-button>
  </app-info>

  <app-courses-list [courses]="courses" [editable]="true" (showCourseEvent)="showCourse($event)"
    (editCourseEvent)="editCourse($event)" (deleteCourseEvent)="deleteCourse($event)"></app-courses-list>

  <app-course-info [course]="courses[0]"></app-course-info>

  <app-login-form></app-login-form>

  <app-registration-form></app-registration-form>

  <app-course-form></app-course-form>

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>