.app-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:  2rem;

  &__header {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-transform: capitalize;
    margin-bottom: 24px;
  }

  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 40px;
  }

  &__empty-message {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 16px;
  }

  &__empty-hint{
    font-size: 1rem;
    color: #666;
    margin-top: 8px;
  }
}
