@import 'src/app/shared/styles/styles';

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  min-width: 60vw;
}

.course {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__input-row {
    display: flex;
    align-items: baseline;
    gap: 16px;

    & input {
      flex: 1;

      &.max-width {
        max-width: 400px;
      }
    }
  }

  &__authors {
    &-group {
      display: flex;
      justify-content: space-between;
      gap: 48px;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 48px;

      &-body {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
  }

  &__icon {
    margin-left: 4px;
    cursor: pointer;
    border: none;
    padding: 0;
    background: none;

    &:hover {
      color: #016486;
    }

    &:focus {
      outline: none;
      color: #00516b;
      box-shadow: 0 0 4px 2px rgba(0, 114, 152, 0.5);
    }

    &:active {
      transform: translateY(1px);
      color: #00394f;
    }
  }
}
